.imageGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-flow: dense;
  margin: 5rem;
}

.imageWrap:nth-child(4n) {
  grid-column: span 2;
}
.imageWrap:nth-child(3n + 2) {
  grid-row: span 2;
}
