.modal {
  position: fixed;
  width: 620px;
  background: #ffffff;
  border-radius: 12px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #4f4f4f;
  padding: 1.5rem;
  z-index: 100;
}
.dropHereText {
  display: inline-block;
}
@media (max-width: 880px) {
  .modal {
    width: auto;
    translate: 0 0;
    left: 0;
    right: 0;
    top: 30px;
  }
  .dropHereText {
    display: none;
  }
}
.modal form {
  display: flex;
  flex-direction: column;
}
.modalOuter {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.modal label:nth-child(2) {
  margin-bottom: 3rem;
}
.modal form img {
  align-self: center;
  border-radius: 16px;
}
.modal p {
  padding: 0;
  margin: 0 1rem;
  text-align: center;
}
.modal h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.modal label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.modal input {
  height: 55px;
  font-size: 14px;
  color: #817d7d;
  border: 1px solid #8a7b7b;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  padding-left: 1rem;
}
.buttonsWrap {
  display: flex;
  align-items: center;
}
.buttonsWrap > * {
  margin: 0 0.2rem;
}
.progressBar {
  position: relative;
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  background: #f2f2f2;
  height: 6px;
  overflow: hidden;
}
.modal h2 {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}
.progressBar::after {
  content: "";
  position: absolute;
  background: #2f80ed;
  height: 6px;
  width: 100px;
  border-radius: 8px;
  animation: 2s linear infinite running load;
}
@keyframes load {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}
