.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 100;
  width: 620px;
  background: #ffffff;
  border-radius: 12px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #4f4f4f;
  padding: 1.5rem;
  /* transition: all 0.5 ease; */
  z-index: 100;
}
.modal form {
  display: flex;
  flex-direction: column;
}
.modalOuter {
  position: absolute;
  top: -10000px;
  left: -1000px;

  width: 1000vw;
  height: 10000vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.modal label:nth-child(2) {
  margin-bottom: 3rem;
}
.modal form img {
  align-self: center;
  border-radius: 16px;
}
.modal p {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 10px;
}
.modal h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.modal label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.modal input {
  width: 552.33px;
  height: 55px;
  font-size: 14px;
  color: #817d7d;
  border: 1px solid #8a7b7b;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  padding-left: 1rem;
}
.buttonsWrap {
  display: flex;
  align-items: center;
}
.progressBar {
  position: relative;
  /* width: 540px; */
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  background: #f2f2f2;
  height: 6px;
  overflow: hidden;
}
.modal h2 {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}
.progressBar::after {
  content: "";
  position: absolute;
  background: #2f80ed;
  height: 6px;
  width: 100px;
  border-radius: 8px;
  animation: 2s linear 1s infinite running load;
}
@keyframes load {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}
